<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New York City Guide | {{venue}}</title>
    {%load static%}
    <link rel ="stylesheet" href ="{% static 'style.css' %}"
</head>
<body>
    <h1>{{venue | title}}</h1>
     <img src = {{img}} alt = "Sorry no image available" width = "650" height = "650">
     <p>{{description}}</p>
     <a class="btn" href="/">Return Home</a>
</body>
</html>